@import "tailwindcss";

@theme {
	--font-sans: "Space Grotesk Variable", ui-sans-serif, system-ui, sans-serif;
	--font-space-grotesk: "Space Grotesk Variable", ui-sans-serif, system-ui, sans-serif;
	--font-mono: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, monospace;

	--color-pink: #ff6ec4;
	--color-purple: #7873f5;
	--color-lavender: #aaa7ff;
	--color-orange: #f0a06a;

	--color-gray-950: #101010;
	--color-gray-900: #181818;
	--color-gray-800: #202020;
	--color-gray-700: #303030;
	--color-gray-600: #404040;
	--color-gray-500: #737373;
	--color-gray-400: #a3a3a3;
	--color-gray-300: #d4d4d4;
	--color-gray-100: #f2f2f2;

	--color-red: #e7b7b7;
}
